doctype html
html
	include ./includes/head.pug
	include ./includes/mixin.pug
	body
		div.popup__wrap
			div.popup
				p
					strong Заполните форму, 
					|и мы свяжемся с Вами
				form(action="#" method="post" class="form--gray")
					input(class="form__input" type="text" name="usrname" placeholder="Ваше имя")
					input(class="form__input" type="tel" name="usrtel" placeholder="Телефон")
					input(class="form__input" type="email" name="email" placeholder="E-mail")
					textarea(class="form__input")
					span Гарантируем,
					span Ваши данные защищены
					input(class="button" type="submit" value="Заказать приложение")
		div.page
			include ./includes/header.pug
			main.content-page
				div.unfound
					div.unfound__inner
						div.unfound__media
							img(src="images/404.png")
						div.unfound__inf
							div 404
							p страница не найдена
							span перейдите на главную
							a(class="button" href="/") Назад
			include ./includes/footer.pug