doctype html
html
	include ./includes/head.pug
	include ./includes/mixin
	body
		div.page
			include ./includes/header.pug
			main.content-page
				section.portfolio
					div.project--navy
						h2.section-heading--ondark
							span Реализованные 
							|проеткы
						h3.project__heading--ondark Airoke - караоке онлайн
						div.project__inner
							div.project__desc
								div.project__text
									p Присоединяйтесь к Караоке онлайн с миллионами фанатов! Записывайте видео исполнения своих любимых песен, используя звуковые эффекты. Делитесь своими записями с другими пользователями и заполучите армию поклонников по всему миру.
									p Найди и подпишись на своих друзей, ставь лайки и оставляй комментарии к понравившимся композициям. Знакомься с выдающимися исполнителями со всего мира в Караоке онлайн! Исполняй песни Соло и Дуэтом , или собери компанию своих друзей и пойте группой.
								div.progect__teaser
									img(src="images/airoke1.png")
									table
										tr
											td(colspan="2") Количество установок
										tr
											td
												div.project__install
													+icon('apple-logo')
													span 833.060
											td
												+icon_link('google-play', '#')
										tr
											td
												div.project__install
													+icon('android-logo')
													span 47.990
											td
												+icon_link('app-store', '#')
							div.project__media
								img( src="images/aeroke_item.png")
						div.underline.underline_theme_light
					div.project--navy-dark
						h3.project__heading--ondark Знакомства в instagram
						div.project__inner
							div.project__media
								img( src="images/instagrammdating.png")
							div.project__desc
								div.project__text
									p Dating for Instagram – лёгкий путь к интересным знакомствам и ярким эмоциям. Ты сможешь найти новых знакомых для простого общения или партнёра для приятного досуга. Здесь каждый знает, чего хочет, поэтому можно обойтись без лишних слов.
									p Доступ к чатам доступен только тебе. Вся переписка конфиденциальна.
									p Приложение не использует геолокацию. Никто не узнает, где ты находишься.
									p Общение происходит с реальными пользователями - более 2000 активных пользователей ежедневно. В приложении нет поддельных профилей или ботов. Приложение на английском языке, предназначено для пользователей старше 18 лет.
									p Скачай Знакомства в Instagram и окунись с головой в мир флирта, страсти и желания!
								div.progect__teaser
									img(src="images/instagramdating1.png")
									table
										tr
											td(colspan="2") Количество установок
										tr
											td
												div.project__install
													+icon('apple-logo')
													span 833.060
											td
												+icon_link('google-play', '#')
						div.underline
					div.project--gray
						h3.project__heading--onwhite Pokemon Go - чат для покемонов
						div.project__inner
							div.project__desc
								div.project__text--onwhite
									p Присоединяйтесь к Караоке онлайн с миллионами фанатов! Записывайте видео исполнения своих любимых песен, используя звуковые эффекты. Делитесь своими записями с другими пользователями и заполучите армию поклонников по всему миру.
									p Найди и подпишись на своих друзей, ставь лайки и оставляй комментарии к понравившимся композициям. Знакомься с выдающимися исполнителями со всего мира в Караоке онлайн! Исполняй песни Соло и Дуэтом , или собери компанию своих друзей и пойте группой.
								div.progect__teaser
									img(src="images/pokemon-logo.png")
									table
										tr
											td(colspan="2") Количество установок
										tr
											td
												div.project__install
													+icon('apple-logo')
													span 833.060
											td
												+icon_link('google-play', '#')
										tr
											td
												div.project__install
													+icon('android-logo')
													span 47.990
											td
												+icon_link('app-store', '#')
							div.project__media
								img( src="images/pokemon.png")
						div.underline
					div.project--white
						h3.project__heading--onwhite MITEC - школьные олимпиады России
						div.project__inner
							div.project__media
								img( src="images/mitec.png")
							div.project__desc
								div.project__text--onwhite
									p Dating for Instagram – лёгкий путь к интересным знакомствам и ярким эмоциям. Ты сможешь найти новых знакомых для простого общения или партнёра для приятного досуга. Здесь каждый знает, чего хочет, поэтому можно обойтись без лишних слов.
									p Доступ к чатам доступен только тебе. Вся переписка конфиденциальна.
									p Приложение не использует геолокацию. Никто не узнает, где ты находишься.
									p Общение происходит с реальными пользователями - более 2000 активных пользователей ежедневно. В приложении нет поддельных профилей или ботов. Приложение на английском языке, предназначено для пользователей старше 18 лет.
									p Скачай Знакомства в Instagram и окунись с головой в мир флирта, страсти и желания!
								div.progect__teaser
									img(src="images/mitec--icon.png")
									table
										tr
											td(colspan="2") Количество установок
										tr
											td
												div.project__install
													+icon('apple-logo')
													span 833.060
											td
												+icon_link('google-play', '#')
					div.project--gray
						h3.project__heading--onwhite Pokemon Go - чат для покемонов
						div.project__inner
							div.project__desc
								div.project__text--onwhite
									p Присоединяйтесь к Караоке онлайн с миллионами фанатов! Записывайте видео исполнения своих любимых песен, используя звуковые эффекты. Делитесь своими записями с другими пользователями и заполучите армию поклонников по всему миру.
									p Найди и подпишись на своих друзей, ставь лайки и оставляй комментарии к понравившимся композициям. Знакомься с выдающимися исполнителями со всего мира в Караоке онлайн! Исполняй песни Соло и Дуэтом , или собери компанию своих друзей и пойте группой.
								div.progect__teaser
									img(src="images/pokemon-logo.png")
									table
										tr
											td(colspan="2") Количество установок
										tr
											td
												div.project__install
													+icon('apple-logo')
													span 833.060
											td
												+icon_link('google-play', '#')
										tr
											td
												div.project__install
													+icon('android-logo')
													span 47.990
											td
												+icon_link('app-store', '#')
							div.project__media
								img( src="images/pokemon.png")
						div.underline
					div.project--white
						h3.project__heading--onwhite MITEC - школьные олимпиады России
						div.project__inner
							div.project__media
								img( src="images/mitec.png")
							div.project__desc
								div.project__text--onwhite
									p Dating for Instagram – лёгкий путь к интересным знакомствам и ярким эмоциям. Ты сможешь найти новых знакомых для простого общения или партнёра для приятного досуга. Здесь каждый знает, чего хочет, поэтому можно обойтись без лишних слов.
									p Доступ к чатам доступен только тебе. Вся переписка конфиденциальна.
									p Приложение не использует геолокацию. Никто не узнает, где ты находишься.
									p Общение происходит с реальными пользователями - более 2000 активных пользователей ежедневно. В приложении нет поддельных профилей или ботов. Приложение на английском языке, предназначено для пользователей старше 18 лет.
									p Скачай Знакомства в Instagram и окунись с головой в мир флирта, страсти и желания!
								div.progect__teaser
									img(src="images/mitec--icon.png")
									table
										tr
											td(colspan="2") Количество установок
										tr
											td
												div.project__install
													+icon('apple-logo')
													span 833.060
											td
												+icon_link('google-play', '#')
			include ./includes/footer.pug