head
  meta(charset='utf-8')
  title Heading the page
  meta(content='' name='author')
  meta(content='' name='description')
  meta(content='' name='keywords')
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(content='ie=edge' http-equiv='x-ua-compatible')
  link(rel='stylesheet' href='css/main.css')
  script(src="js/svg4everybody.js" defer)
  script(src="js/select.js" defer)
  script(src="js/custom.js" defer)