.blog {
	text-align: center;
  @include tablets {
    .divider,
    .section-heading {
      display: none;
    }
    .nav-mobile,
    .subsection-heading {
      display: block;
    }
  }
}

.blog__wrap {
	max-width: 1200px;
	margin: 30px auto 0;
	padding: 20px;
  @include tablets {
    margin: 0 auto;
  }
  @include phones {
    padding: 20px 0;
  }
}

.blog__inner {
	@include row-flex();
  margin: 0;
	justify-content: space-around;
}

.blog__content {
  @include row-flex();
	@include col();
	@include col-18();
	@include col-md-16();
	@include col-sm-24();
  @include laptop {
    justify-content: center;
  }
}

.post-prev {
	@include col();
	@include col-12();
  @include col-md-24();
	position: relative;
  margin: 2px;
  width: calc(50% - 4px);
  @include laptop {
    width: calc(100% - 4px);
  }
	img {
		width: 100%;
		min-height: 100%;
		display: block;
	}
  max-height: 100%;
  &:hover {
    .post-prev__desc {
      padding: 16px 16px 14px;
    }
  }
}

.post-prev__desc {
  background-color: rgba(0,0,0, 0.7);
  text-align: left;
  padding: 4px 16px 14px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  transition: padding .7s;
  @include screen320 {
    padding: 4px 10px 8px;
  }
 }

.post-prev__head {
  color: white;
  font-size: 18px;
  line-height: 24px;
  @include screen320 {
    font-size: 14px;
  }
}

.post-prev__meta {
  color: white;
  font-size: 12px;
  line-height: 14px;
}

.meta__list {
  display: flex;
  margin: 0 -6px;
  padding: 0;
  :last-child {
    border-right: none;
  }
}

.meta__item {
  list-style-type: none;
  padding: 0 6px;
  border-right: 1px solid #ffffff;
 }

 .post-prev__hit {
  position: absolute;
  bottom: 50%;
  margin-bottom: -10px;
  right: 10px;
  display: flex;
  align-items: center;
  span {
    color: #fff;
    padding: 0 10px;
  }
  .icon-eye {
    fill: rgba(255, 255, 255, .5);
    width: 16px;
    height: 10px;
  }
 }