.header-page__inner {
	@include row-flex();
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
}

.header-page__logo-wrap {
	padding: 12px 10px;
	@include col();
	@include col-4();
	@include col-md-4();
	@include col-sm-14();
	margin: 0 6px;
	img {
		max-height: 68px;
		@include tablets {
			max-height: 54px;
		}
	}
}

.header-page__menu-mobile {
	display: none;
	@include col();
	@include col-sm-5();
	margin: 0 6px;
	padding-left: 14px;
	@include tablets {
		display: block;
	}
	position: relative;
}

.icon-hamburger {
	width: 26px;
	height: 16px;
}

.menu-mobile__panel {
	position: fixed;
	top: 0;
	height: 100%;
  background: #212121;
	width: 300px;
	z-index: 5;
	padding-top: 16px;
}

.header-page__logo-mwrap {
	max-width: 160px;
  margin: 0 auto;
}

.header-page__phone-mobile {
	display: none;
	@include col();
	@include col-sm-5();
	margin: 0 6px;
	text-align: right;
	padding-right: 14px;
	@include tablets {
		display: block;
	}
}

.icon-phone {
	width: 24px;
	height: 24px;
	stroke: #F86B55;
	fill: #f86b55;
}

.header-page__menu {
	max-width: 620px;
	min-width: 482px;
	@include col();
	@include col-11();
	@include col-md-12();
	margin: 0 6px;
	@include tablets {
		display: none;
	}
}

.menu__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
}

.menu__item {
	text-transform: uppercase;
}

.menu__link {
	padding: 10px 2px;
	color: #000;
	&.active, &:hover {
	color: #F86B55;
	border-bottom: 1px solid #F86B55;
	}
}

.icon-menu-item-divider {
	margin-bottom: 2px;
	width: 8px;
	height: 8px;
}

.header-page__locales {
	@include col();
	@include col-4();
	margin: 0 6px;
	@media screen and (max-width: 1000px) {
		display: none;
	}
	position: relative;
	border: 1px solid #e2e2e2;
	width: 168px;
	background-color: #fff;
	border-radius: 5px;
	cursor: pointer;
	a {
		display: block;
		font-size: 12px;
		line-height: 30px;
		color: #3b4555;
		text-align: left;
	}
	img {
		width: 16px;
  	height: 10px;
  	margin: 0 10px 0 14px;
	}
	/*&:hover {
		.locales__list {
			display: block;
		}
	}*/
}

.icon-angle-down {
	width: 10px;
  height: 6px;
	position: absolute;
	right: 12px;
	top: 50%;
	margin-top: -3px;
}

.locales__list {
	display: none;
	position: absolute;
	top: 32px;
	appearance: none;
	border: 1px solid #e2e2e2;
	width: 168px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
	&.visible {
		display: block;
	}
}
.locales__item {
	
}
.locales__link {
	font-size: 12px;
	line-height: 30px;
	color: #3b4555;
	text-align: left;
	:active {

	}
	&:hover {
		color: rgb(248, 107, 85);
	}
	img {
		width: 16px;
  	height: 10px;
  	margin: 0 10px 0 14px;
	}
}

/* STYLE CONTACT BLOCK BEGIN */
.header-page__contacts {
	min-width: 150px;
	white-space: nowrap;
	@include col();
	@include col-4();
	@include col-md-5();
	margin: 0 6px;
	@include tablets {
		display: none;
	}
}

.contacts__list--heder {
	@include laptop {
		padding: 0;
		font-size: 12px;
	}
}

.contacts__link--heder {
	display: flex;
  align-items: center;
  color: #000;
  font-weight: 300;
}

.icon-somephone,
.icon-mail {
	margin-right: 10px;
	width: 17px;
	height: 20px;
	stroke: #F86B55;
	fill: #f86b55;
	stroke-width: 0;
}
.contucts__item {
	
}

.contucts__link {
	
}
/* STYLE CONTACT BLOCK END */